flows.json
[{"id":"ff979b99.78f418","type":"tab","label":"Bot","disabled":false,"info":""},{"id":"884f243f.a11ed8","type":"watson-conversation-v1","z":"ff979b99.78f418","name":"Cloth_Shop Bot","workspaceid":"59f820cf-ca7c-474a-afab-09e648be187f","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/cbd6f9c1-c6a0-4822-97b4-e9b7a292fd8e","timeout":"","optout-learning":false,"x":460,"y":120,"wires":[["8f121efe.9542f"]]},{"id":"87087299.06b77","type":"inject","z":"ff979b99.78f418","name":"","topic":"","payload":"hi","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":100,"wires":[["884f243f.a11ed8"]]},{"id":"77083ef1.27d76","type":"debug","z":"ff979b99.78f418","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":780,"y":160,"wires":[]},{"id":"8f121efe.9542f","type":"function","z":"ff979b99.78f418","name":"","func":"if(msg.payload.output.generic[0].response_type==\"image\"){\n    msg.url = msg.payload.output.generic[0].source\n    msg.payload = msg.payload.output.generic[0].title\n}\nelse{\n     msg.payload = msg.payload.output.text[0];\n    msg.url=\"https://img.freepik.com/free-vector/welcome-word-flat-cartoon-people-characters_81522-4207.jpg?size=626&ext=jpg\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":140,"wires":[["77083ef1.27d76","17add379.d798dd","b4dd7d8f.a6fd3","9497c670.39da48"]]},{"id":"a28c52b5.8990d","type":"ui_form","z":"ff979b99.78f418","name":"","label":"","group":"c053aed7.94025","order":1,"width":0,"height":0,"options":[{"label":"Enter your input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":230,"y":300,"wires":[["cf075fc5.63037"]]},{"id":"cf075fc5.63037","type":"function","z":"ff979b99.78f418","name":"Input Parsing","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":320,"wires":[["884f243f.a11ed8","64dd7a13.47a5a4"]]},{"id":"64dd7a13.47a5a4","type":"ui_text","z":"ff979b99.78f418","group":"c053aed7.94025","order":2,"width":0,"height":0,"name":"","label":"User Input","format":"{{msg.payload}}","layout":"row-spread","x":700,"y":380,"wires":[]},{"id":"17add379.d798dd","type":"ui_text","z":"ff979b99.78f418","group":"c053aed7.94025","order":4,"width":0,"height":0,"name":"","label":"Bot","format":"{{msg.payload}}","layout":"row-spread","x":790,"y":220,"wires":[]},{"id":"b4dd7d8f.a6fd3","type":"ui_audio","z":"ff979b99.78f418","name":"","group":"c053aed7.94025","voice":"en-US","always":false,"x":740,"y":80,"wires":[]},{"id":"9497c670.39da48","type":"ui_template","z":"ff979b99.78f418","group":"c053aed7.94025","name":"","order":6,"width":6,"height":11,"format":"<img ng-src={{msg.url}} alt=\"Image\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":860,"y":120,"wires":[[]]},{"id":"c053aed7.94025","type":"ui_group","z":"","name":"chatbot","tab":"b6cea951.c8fcf8","order":1,"disp":true,"width":9,"collapse":false},{"id":"b6cea951.c8fcf8","type":"ui_tab","z":"","name":"Cloth_shop bot","icon":"dashboard","disabled":false,"hidden":false}]